# Gradle
.gradle/
build/
local.properties

# Android Studio
.idea/
*.iml
*.ipr
*.iws

# Build outputs
app/build/
app/.cxx/
captures/
.externalNativeBuild/
.cxx/

# Kotlin
.kotlin/

# Keystore
*.keystore
*.jks

# Sistema
.DS_Store
Thumbs.db

# Logs
*.log
